bind {{ redis_bind_address }}
port {{ redis_port }}
protected-mode {{ redis_protected_mode }}
supervised {{ redis_supervised }}

{% if redis_requirepass != "" %}
requirepass {{ redis_requirepass }}
{% endif %}

daemonize no
dir /var/lib/redis
logfile /var/log/redis/redis-server.log
